# Local directory
terraform/.terraform
backend_S3/.terraform

# Terraform state files
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl

backend_S3/*.tfstate
backend_S3/*.tfstate.backup
backend_S3/*.tfvars
backend_S3/.terraform.lock.hcl

backend_S3/.terraform/providers/registry.terraform.io/hashicorp/aws/6.27.0/windows_amd64/terraform-provider-aws_v6.27.0_x5.exe
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.27.0/windows_amd64/terraform-provider-aws_v6.27.0_x5.exe


**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
**/.terraform.lock.hcl

#git rm -r --cached terraform/.terraform/
#git rm -r --cached backend_S3/.terraform/
#git filter-branch --force --index-filter 'git rm --cached --ignore-unmatch backend_S3/.terraform/providers/registry.terraform.io/hashicorp/aws/6.27.0/windows_amd64/terraform-provider-aws_v6.27.0_x5.exe' --prune-empty --tag-name-filter cat -- --all
