name: Terraform Apply Infra-release
run-name: "Terraform Apply Infra-release @${{github.actor}}, event: ${{github.event_name}}"
on:
    pull_request:
        branches:
            - main
env:
    AWS_SECRET_ACCESS_ID: ${{secrets.AWS_SECRET_ID }}
    AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_KEY }}
    AWS_REGION: ${{vars.AWS_REGION}}
jobs:
    Terraform_plan_and_recursive:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: "1.1.7"

            - name: Terraform Init
              id: init
              run: terraform init

            - name: Terraform Format
              id: fmt
              run: terraform fmt -recursive

            - name: Create TF vars
              run: echo "${{secrets.TERRAFORM_TF_VARS}}" > terraform.tfvars

            - name: Terraform Plan
              id: plan
              if: github.event_name == 'push'
              run: terraform plan -no-color -var-file="terraform.tfvars"
              continue-on-error: true

            - name: Terraform Plan Status
              if: steps.plan.outcome == 'false'
              run: exit 1

            - name: Terraform Apply
              id: apply
              if: github.ref == 'refs/heads/main' && github.event_name == 'pull_request' 
              run: terraform apply -var-file="terraform.tfvars" --auto-approve