name: Terraform plan and recursive
run-name: "Terraform plan and recursive @${{github.actor}}, event: ${{github.event_name}}"
on:
    push:
        branches:
            - features/development
            - '!main'

env:
    AWS_ACCESS_KEY_ID: ${{secrets.AWS_SECRET_ID }}
    AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_KEY }}
    AWS_REGION: ${{vars.AWS_REGION}}
    BUCKET_NAME: ${{secrets.BUCKET_NAME}}
    AWS_ACCOUNT_ID: ${{secrets.AWS_ACCOUNT_ID}}

jobs:
    Terraform_plan_and_recursive:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: "1.1.7"

            - name: Terraform Init
              id: init
              run: terraform init
              working-directory: ./terraform

            - name: Terraform Format
              id: fmt
              run: terraform fmt -recursive
              working-directory: ./terraform

            - name: Create TF vars
              run: |
                echo "${{ vars.TERRAFORM_TF_VARS }}" > terraform.tfvars
              working-directory: ./terraform

            - name: Display terraform.tfvars content
              run: |
                cat terraform.tfvars
              working-directory: ./terraform

            - name: Terraform Plan
              id: plan
              if: github.event_name == 'push'
              run: terraform plan -no-color -var="bucket_name=${{env.BUCKET_NAME}}" -var="aws_account_id=${{env.AWS_ACCOUNT_ID}} -var-file="terraform.tfvars"
              working-directory: ./terraform